extends ./layout/index
block contenido
  maim.container.mt-5 
        .row 
          .col-md-5   
            img(src="img/nosotros.jpg", alt="nosotros",class="img-fluid")
          .col-md-6 
            
            h1 #{pagina}
              blockquote #{viajes}
            .row 
              p=  otro
              p.mb-0 Suspendisse vel nisi suscipit, mollis dolor non, dictum leo. Integer nibh felis, pharetra luctus ultricies vel, pulvinar ut odio. Suspendisse pellentesque risus et ipsum placerat, at mattis nisl tempor. Aenean sit amet tempus dui, a cursus turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
              p Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis. Etiam scelerisque ultrices justo eget pharetra. Mauris congue venenatis lectus in faucibus. Nulla non nisl at magna eleifend ornare eget sit amet orci. Sed finibus molestie laoreet. Fusce ac massa venenatis, dapibus tortor vel, aliquam justo.
              p Suspendisse vel nisi suscipit, mollis dolor non, dictum leo. Integer nibh felis, pharetra luctus ultricies vel, pulvinar ut odio. Suspendisse pellentesque risus et ipsum placerat, at mattis nisl tempor. Aenean sit amet tempus dui, a cursus turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        
  .listado-iconos 
     container.mt-5.py-5.text-center 
          .row  
            .col-md-5 
              img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-6")
              h2.mb-4 Seguridad
              p Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.
            .col-md-5 
              img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-6")
              h2.mb-4 Precios
              p Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.
            .col-md-5 
              img(src="img/icono_disponibles.svg", alt="icono disponibles",class="img-fluid mb-6")
              h2.mb-4 Disponibles
              p Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.
            .col-md-5 
              img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-6")
              h2.mb-4 Destinos
              p Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.Mauris elit sapien, dictum sit amet odio condimentum, viverra eleifend felis.
      
    
  