.descuento  
  .container 
    .row 
      .col-md-6   
        .contenido 
          h3 5% de Descuento 
          p.titulo Viaje a Canada 
          p.fecha 20 de Marzo de2022 - 28 de Marzo de 2022
          